@model HistoryPedia.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registration";
}

<div class="page-header">
    <h1>
        Sign up
    </h1>
</div>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label><br />
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label"></label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-outline-info btn-block" />
        </div>
    </div>
</form>